
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: white;
    padding: 1rem;
}

.logo {
    display: block;
    max-width: 300px;
    margin: 2rem auto;
}

.full-image {
    width: 100%;
    height: auto;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.about, .setlist, .gallery, .contact, footer {
    max-width: 900px;
    margin: 2rem auto;
    text-align: justify;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.image-row img {
    height: 150px;
    width: auto;
    object-fit: cover;
    border-radius: 8px;
    max-width: 100%;
}

.button-row, .contact div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.button {
    background-color: ##0e0e0e;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 600px) {
    .button-row, .contact div {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 90%;
    }

    .logo {
        max-width: 80%;
    }

    .image-row img {
        height: auto;
        width: 100%;
    }

    .full-image {
        width: 100%;
    }
}
